set_io wclk        51
set_io din[0]      52
set_io write_en    53
set_io cs          56
set_io din[1]      54
set_io vga_r       25
set_io vga_g       24
set_io vga_b       20
set_io vga_hs      19
set_io vga_vs      18
set_io CLK25MHz    15
